<div id="my-home" class="my-home">
  <p>
    Home Works!
  </p>
  <p *ngIf="user" style="color: orangered">Logged with {{user.first_name}} is done!</p>
  <ul *ngIf="!user">
    <li><button (click)="doLogin_1()" class="btn btn-info" style="color: whitesmoke;">Login 1 (Promise)</button></li>
    <li><button (click)="doLogin_2()" class="btn btn-warning" style="color: whitesmoke;">Login 2 (Observable)</button></li>
    <li><button (click)="doLogin_3()" class="btn btn-success" style="color: whitesmoke;">Login 3 (Web Worker)</button></li>
    <li><button (click)="doLogin_4()" class="btn btn-error" style="color: whitesmoke;">Login 4 (Redux)</button></li>
  </ul>

  <p *ngIf="!user" style="color: orangered">Logout is done!</p>
  <p *ngIf="user">
    <button (click)="doLogout()" class="btn btn-danger" style="color: whitesmoke;">Logout</button>
  </p>

  <p *ngIf="userRedux" style="color: darkviolet">Redux user {{userRedux.getAllName| async}} is done!</p>

  <p>
    <my-info (loginComponentEvent)="loginSubComponentEvent($event)"></my-info>
  </p>
</div>
